{% extends "IiMediasAdminBundle::_layout.html.twig" %}

{% block contentTitle %}Stream{% endblock contentTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_stream_stream_index") }}"><i class="fa fa-television" aria-hidden="true"></i><span class="hidden-xs"> Streams</span></a></li>
{% endblock breadcrumb %}

{% block moduleNav %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="{% if moduleNavActiveTab == "stream" %}active{% endif %}"><a href="{{ path("iimedias_stream_stream_index") }}">Streams</a></li>
        <li role="presentation" class="{% if moduleNavActiveTab == "twitchbot" %}active{% endif %}"><a href="{{ path("iimedias_stream_twitchbot_index") }}">Twitch Bots</a></li>
    </ul>
{% endblock moduleNav %}
