function streamAddMessage(site, type, from, to, message)
{
    try {
        console.info("[INFO][Stream][Message] " + type + " } " + from + " > " + to + " " + site + " > " + message);
        if (site == "twitch") {
            to = to.substring(1);
        }
        var cmd = "{{ phpCliPath }} bin/console stream:message:new " + site + " " + type + " " + from + " " + to + " \"" + encodeURI(message) + "\"";
        exec(cmd, function (error, stdout, stderr) {
            var response = JSON.parse(stdout);
            Object.keys(settings.ioServerClients).forEach(function(keyClient) {
                if ("streamId" in settings.ioServerClients[keyClient] && settings.ioServerClients[keyClient].streamId == response.stream.id) {
                    settings.sockets.ioServer.sockets.connected[keyClient].emit("streamChatMessage", response);
                }
            });
        });
    }
    catch (e) {
        console.error("[ERROR][Stream][Message] " + e);
        streamAddMessage(site, type, from, to, message);
    }
}
