function twitchChannelScan()
{
    try {
        if (settings === null) {
            setTimeout(function(){
                console.warn("[WARN][Twitch][ChannelScan] Settings vide, en attente");
                twitchChannelScan();
            }, 100);
            return;
        }
        Object.keys(settings.stream.twitch.bot).forEach(function(keyBot) {
            console.log(settings.stream.twitch.bot);
            Object.keys(settings.stream.twitch.bot[keyBot].channels).forEach(function(keyChannel) {
                if (settings.stream.twitch.bot[keyBot].channels[keyChannel].substring(0,1) == "#") {
                    var channelName = settings.stream.twitch.bot[keyBot].channels[keyChannel].substring(1);
                    setInterval(function(){
                        var cmd   = "{{ phpCliPath }} bin/console stream:twitch:maininfos " + channelName;
                        var start = new Date();
                        exec(cmd, function (error, stdout, stderr) {
                            var end      = new Date();
                            var response = JSON.parse(stdout);
                            {#console.info("[INFO][Twitch][ChannelScan][" + (end - start) + "ms] " + channelName + " > Informations principales");#}
                            Object.keys(settings.ioServerClients).forEach(function(keyClient) {
                                if ("streamId" in settings.ioServerClients[keyClient] && settings.ioServerClients[keyClient].streamId == response.streamId) {
                                    settings.sockets.ioServer.sockets.connected[keyClient].emit("streamRefreshMainInfos", response);
                                }
                            });
                        });
                    }, 5000); {# Twitch Main Infos #}
                    setInterval(function(){
                        var cmd   = "{{ phpCliPath }} bin/console stream:twitch:streaminfos " + channelName;
                        var start = new Date();
                        exec(cmd, function (error, stdout, stderr) {
                            var end      = new Date();
                            {#console.info("[INFO][Twitch][ChannelScan][" + (end - start) + "ms] " + channelName + " > Informations du stream");#}
                        });
                    }, 5000); {# Twitch Stream Infos #}
                    setInterval(function(){
                        var cmd   = "{{ phpCliPath }} bin/console stream:twitch:chatters " + channelName;
                        var start = new Date();
                        exec(cmd, function (error, stdout, stderr) {
                            var end      = new Date();
                            {#var response = JSON.parse(stdout);#}
                            {#console.info("[INFO][Twitch][ChannelScan][" + (end - start) + "ms] " + channelName + " > Chatters");#}
                        });
                    }, 10000); {# Twitch Chatters #}
                    setInterval(function(){
                        var cmd   = "{{ phpCliPath }} bin/console stream:twitch:follows " + channelName;
                        var start = new Date();
                        exec(cmd, function (error, stdout, stderr) {
                            var end      = new Date();
                            var response = JSON.parse(stdout);
                            if (response.follows.length > 0) {
                                Object.keys(settings.ioServerClients).forEach(function (keyClient) {
                                    if ("streamId" in settings.ioServerClients[keyClient] && settings.ioServerClients[keyClient].streamId == response.streamId) {
                                        settings.sockets.ioServer.sockets.connected[keyClient].emit("streamNewFollows", response);
                                    }
                                });
                            }
                        });
                    }, 10000); {# Twitch Follows #}
                    setInterval(function(){
                        var cmd   = "{{ phpCliPath }} bin/console stream:twitch:hosts " + channelName;
                        var start = new Date();
                        exec(cmd, function (error, stdout, stderr) {
                            var end      = new Date();
                            {#var response = JSON.parse(stdout);#}
                            {#console.info("[INFO][Twitch][ChannelScan][" + (end - start) + "ms] " + channelName + " > Hosts");#}
                        });
                    }, 10000); {# Twitch Hosts #}
                    setInterval(function(){
                        var cmd   = "{{ phpCliPath }} bin/console stream:twitch:chattersfile " + channelName;
                        var start = new Date();
                        exec(cmd, function (error, stdout, stderr) {
                            var end      = new Date();
                            {#var response = JSON.parse(stdout);#}
                            {#console.info("[INFO][Twitch][ChannelScan][" + (end - start) + "ms] " + channelName + " > Chatters File");#}
                        });
                    }, 10000); {# Scan Chatters Files #}
                    setInterval(function(){
                        var cmd   = "{{ phpCliPath }} bin/console stream:twitch:hostsfile " + channelName;
                        var start = new Date();
                        exec(cmd, function (error, stdout, stderr) {
                            var end      = new Date();
                            {#var response = JSON.parse(stdout);#}
                            {#console.info("[INFO][Twitch][ChannelScan][" + (end - start) + "ms] " + channelName + " > Chatters File");#}
                        });
                    }, 10000); {# Scan Hosts Files #}
                    setInterval(function(){
                        var cmd   = "{{ phpCliPath }} bin/console stream:twitch:userscan";
                        var start = new Date();
                        exec(cmd, function (error, stdout, stderr) {
                            var end      = new Date();
                            {#var response = JSON.parse(stdout);#}
                            {#console.info("[INFO][Twitch][ChannelScan][" + (end - start) + "ms] " + channelName + " > Chatters File");#}
                        });
                    }, 60000); {# Scan #}
                    setInterval(function(){
                        var cmd   = "{{ phpCliPath }} bin/console stream:twitch:stats " + channelName;
                        var start = new Date();
                        exec(cmd, function (error, stdout, stderr) {
                            var end      = new Date();
                            {#var response = JSON.parse(stdout);#}
                            {#console.info("[INFO][Twitch][ChannelScan][" + (end - start) + "ms] " + channelName + " > Chatters File");#}
                        });
                    }, 10000); {# Statistiques #}
                }
            });
        });
    } catch (e) {
        console.error("[ERROR][Twitch][ChannelScan] " + e);
        twitchChannelScan();
    }
}
