{% extends "IiMediasStreamBundle::_layout.html.twig" %}

{% block contentTitle %}{% if formMode == "edit" %}Edition du Twitch Bot #{{ bot.id }} "{{ bot.username }}"{% else %}Ajouter un Twitch Bot{% endif %}{% endblock contentTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_stream_twitchbot_index") }}">Twitch Bot</a></li>
{% if formMode == "edit" %}
    <li><a href="{{ path("iimedias_stream_twitchbot_edit", {botId: bot.id}) }}">Editer "{{ bot.username }}"</a></li>
{% else %}
    <li><a href="{{ path("iimedias_stream_twitchbot_add") }}">Ajout</a></li>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
    {{ form_start(form) }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    {{ form_label(form.username) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.username) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    {{ form_label(form.password) }}
                    <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                        {{ form_widget(form.password) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="btn-group pull-right">
                    <a href="{{ path("iimedias_stream_twitchbot_index") }}" class="btn btn-default">Annuler</a>
                    {{ form_widget(form.submit) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock content %}