{% extends "IiMediasStreamBundle::_layout.html.twig" %}

{% block contentTitle %}Twitch Bots{% endblock contentTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_stream_twitchbot_index") }}">Twitch Bots</a></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="{{ path("iimedias_stream_twitchbot_add") }}" class="btn btn-default pull-right">Ajouter un Twitch Bot</a>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Mot de passe</th>
                            <th>Edition</th>
                        </tr>
                    </thead>
                    <tbody>
{% for bot in bots %}
                        <tr>
                            <td>{{ bot.id }}</td>
                            <td>{{ bot.username }}</td>
                            <td>{{ bot.password }}</td>
                            <td><a href="{{ path("iimedias_stream_twitchbot_edit", {botId: bot.id}) }}" class="btn btn-default">Editer</a></td>
                        </tr>
{% endfor %}
                    </tbody>
                </table>
            </div>
        <div>
    </div>
{% endblock %}