.btn-dropdown-border-dailymotion-games {
    background-image: linear-gradient(to left, rgba(66, 174, 220, 0) 0%, rgba(66, 174, 220, 0) 95%, rgba(66, 174, 220, 1) 95%, rgba(66, 174, 220, 1) 100%);
}
.btn-dropdown-border-dailymotion-games:hover {
    background-image: linear-gradient(to left, rgba(66, 174, 220, 0.3) 0%, rgba(66, 174, 220, 0.3) 95%, rgba(66, 174, 220, 1) 95%, rgba(66, 174, 220, 1) 100%);
}
.btn-dropdown-border-hitbox {
    background-image: linear-gradient(to left, rgba(153, 204, 0, 0) 0%, rgba(153, 204, 0, 0) 95%, rgba(153, 204, 0, 1) 95%, rgba(153, 204, 0, 1) 100%);
}
.btn-dropdown-border-hitbox:hover {
    background-image: linear-gradient(to left, rgba(153, 204, 0, 0.3) 0%, rgba(153, 204, 0, 0.3) 95%, rgba(153, 204, 0, 1) 95%, rgba(153, 204, 0, 1) 100%);
}
.btn-dropdown-border-instant-gaming {
    background-image: linear-gradient(to left, rgba(255, 84, 0, 0) 0%, rgba(255, 84, 0, 0) 95%, rgba(255, 84, 0, 1) 95%, rgba(255, 84, 0, 1) 100%);
}
.btn-dropdown-border-instant-gaming:hover {
    background-image: linear-gradient(to left, rgba(255, 84, 0, 0.3) 0%, rgba(255, 84, 0, 0.3) 95%, rgba(255, 84, 0, 1) 95%, rgba(255, 84, 0, 1) 100%);
}
.btn-dropdown-border-restream-io {
    background-image: linear-gradient(to left, rgba(251, 80, 40, 0) 0%, rgba(251, 80, 40, 0) 95%, rgba(251, 80, 40, 1) 95%, rgba(251, 80, 40, 1) 100%);
}
.btn-dropdown-border-restream-io:hover {
    background-image: linear-gradient(to left, rgba(251, 80, 40, 0.3) 0%, rgba(251, 80, 40, 0.3) 95%, rgba(251, 80, 40, 1) 95%, rgba(251, 80, 40, 1) 100%);
}
.btn-dropdown-border-twitch-alerts {
    background-image: linear-gradient(to left, rgba(50, 195, 162, 0) 0%, rgba(50, 195, 162, 0) 95%, rgba(50, 195, 162, 1) 95%, rgba(50, 195, 162, 1) 100%);
}
.btn-dropdown-border-twitch-alerts:hover {
    background-image: linear-gradient(to left, rgba(50, 195, 162, 0.3) 0%, rgba(50, 195, 162, 0.3) 95%, rgba(50, 195, 162, 1) 95%, rgba(50, 195, 162, 1) 100%);
}
.btn-dropdown-border-youtube-gaming {
    background-image: linear-gradient(to left, rgba(227, 49, 41, 0) 0%, rgba(227, 49, 41, 0) 95%, rgba(227, 49, 41, 1) 95%, rgba(227, 49, 41, 1) 100%);
}
.btn-dropdown-border-youtube-gaming:hover {
    background-image: linear-gradient(to left, rgba(227, 49, 41, 0.3) 0%, rgba(227, 49, 41, 0.3) 95%, rgba(227, 49, 41, 1) 95%, rgba(227, 49, 41, 1) 100%);
}

.direct-chat-messages {
    height: 500px;
}

#boxChatUsers ul li {
    display: list-item;
    transition-delay: 500ms;
    transition-property: opacity;
    opacity: 1;
}

#boxChatUsers ul li.online {
    display: list-item;
    opacity: 1;
}

#boxChatUsers ul li.away {
    display: list-item;
    opacity: 0.3;
}

#boxChatUsers ul li.offline {
    display: none;
    opacity: 0;
}

.info-box.bg-aqua {
    transition-duration: 500ms;
    transition-property: background-color;
}

.info-box-number {
    font-size: 40px;
}