{% extends "IiMediasStreamBundle::_layout.html.twig" %}

{% block contentTitle %}{{ stream.type | capitalize }} {{ stream.name }}{% endblock contentTitle %}
{% block contentSubTitle %}Liste des avatars{% endblock contentSubTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}">{{ stream.name }}</a></li>
    <li><a href="{{ path("iimedias_stream_stream_avatars", {streamId: stream.id}) }}">Avatars</a></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Rangs</h3>
            <div class="box-tools pull-right">
                <div class="btn-group">
                    <a href="{{ path("iimedias_stream_avatar_add", {streamId: stream.id}) }}" class="btn btn-success btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i><span class="hidden-xs"> Ajouter</span></a>
                </div>
            </div>
        </div>
        <div class="box-body no-padding">
            <table id="ranks-datatable" class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Aperçu</th>
                    <th>Couleur</th>
                    <th>Défaut</th>
                    <th>Dépendance</th>
                    <th>Rang Associé</th>
                    <th>Edition</th>
                </tr>
                </thead>
                <tbody>
                {% for avatar in avatars %}
                    <tr>
                        <td>{{ avatar.id }}</td>
                        <td>{{ avatar.name }}</td>
                        <td><div class="avatar-thumb avatar-color-{{ avatar.mainColor }}" style="background-image: url('{{ asset("/uploads/stream/avatars/" ~ avatar.id ~ ".png") }}');"></div></td>
                        <td>{{ avatar.mainColor | capitalize }}</td>
                        <td>{% if avatar.isDefault %}Oui{% else %}Non{% endif %}</td>
                        <td>{% if avatar.minRank %}{{ avatar.minRank.name }}{% else %}/{% endif %}</td>
                        <td>{% if avatar.associatedRank %}{{ avatar.associatedRank.name }}{% else %}/{% endif %}</td>
                        <td><a href="{{ path("iimedias_stream_avatar_edit", {streamId: stream.id, avatarId: avatar.id}) }}" class="btn btn-warning">Editer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <style>
        .avatar-thumb {
            display: block;
            width: 60px;
            height: 60px;
            background-size: auto 400%;
            background-repeat: no-repeat;
            background-position-x: center;
            border-radius: 30px;
        }
        .avatar-color-red {
            background-color: rgba(255,0,0,0.6);
        }
        .avatar-color-blue {
            background-color: rgba(0,0,205,0.6);
        }
        .avatar-color-yellow {
            background-color: rgba(205,205,0,0.6);
        }
        .avatar-color-green {
            background-color: rgba(50,205,50,0.6);
        }
        .avatar-color-pink {
            background-color: rgba(238,130,238,0.6);
        }
        .avatar-color-black {
            background-color: rgba(0,0,0,0.6);
        }
        .avatar-color-white {
            background-color: rgba(255,255,255,0.6);
        }
        .avatar-color-gold {
            background-color: rgba(255,215,0,0.6);
        }
        .avatar-color-silver {
            background-color: rgba(193,205,205,0.6);
        }
        .avatar-color-orange {
            background-color: rgba(255,127,0,0.6);
        }
        .avatar-color-navy {
            background-color: rgba(0,0,128,0.6);
        }
        .avatar-color-fire {
            background-color: rgba(205,38,38,0.6);
        }
        .avatar-color-violet {
            background-color: rgba(145,44,238,0.6);
        }
        .avatar-color-cyan {
            background-color: rgba(0,255,255,0.6);
        }
        .avatar-color-grey {
            background-color: rgba(128,128,128,0.6);
        }
    </style>
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    <script>
        $("#ranks-datatable").dataTable();
    </script>
{% endblock scripts %}
