{% extends "IiMediasStreamBundle::_layout.html.twig" %}

{% block contentTitle %}{{ stream.type | capitalize }} {{ stream.name }}{% endblock contentTitle %}
{% block contentSubTitle %}{% if formMode == "edit" %}Edition de l'avatar #{{ avatar.id }} "{{ avatar.name }}"{% else %}Ajouter un avatar{% endif %}{% endblock contentSubTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}">{{ stream.name }}</a></li>
    <li><a href="{{ path("iimedias_stream_stream_avatars", {streamId: stream.id}) }}">Avatars</a></li>
{% if formMode == "edit" %}
    <li><a href="{{ path("iimedias_stream_avatar_edit", {streamId: stream.id, avatarId: avatar.id}) }}">Editer #{{ avatar.id }} "{{ avatar.name }}"</a></li>
{% else %}
    <li><a href="{{ path("iimedias_stream_avatar_add", {streamId: stream.id}) }}">Ajouter</a></li>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
    {{ form_start(form, {attr: {role: "form"}}) }}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Rang</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form_group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name, {attr: {class: "form-control"}}) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form_group">
                            {{ form_label(form.code) }}
                            {{ form_widget(form.code, {attr: {class: "form-control"}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form_group">
                            {{ form_label(form.avatar) }}
                            {{ form_widget(form.avatar, {attr: {class: "form-control"}}) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form_group">
                            {{ form_label(form.mainColor) }}
                            {{ form_widget(form.mainColor, {attr: {class: "form-control"}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form_group">
                            {{ form_widget(form.isDefault) }}
                            {{ form_label(form.isDefault) }}
                            <br />
                            {{ form_widget(form.canBeOwned) }}
                            {{ form_label(form.canBeOwned) }}
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form_group">
                            {{ form_label(form.minRankId) }}
                            {{ form_widget(form.minRankId, {attr: {class: "form-control"}}) }}
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form_group">
                            {{ form_label(form.associatedRankId) }}
                            {{ form_widget(form.associatedRankId, {attr: {class: "form-control"}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="btn-group pull-right">
                    <a href="{{ path("iimedias_stream_stream_ranks", {streamId: stream.id}) }}" class="btn btn-default">Annuler</a>
                    {{ form_widget(form.submit, {attr: {class: "btn btn-primary"}}) }}
                </div>
                {{ form_rest(form) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock content %}
