{% extends "IiMediasStreamBundle::_layout.html.twig" %}

{% block contentTitle %}{% if formMode == "edit" %}Edition du Canal {{ channel.site.name }} #{{ channel.id }} "{{ channel.channel }}"{% else %}Ajouter un Canal{% endif %}{% endblock contentTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}">{{ stream.name }}</a></li>
{% if formMode == "edit" %}
    <li><a href="{{ path("iimedias_stream_stream_channeledit", {streamId: stream.id, channelId: channel.id}) }}">Edition du Canal {{ channel.site.name }} "{{ channel.channel }}"</a></li>
{% else %}
    <li><a href="{{ path("iimedias_stream_stream_add") }}">Ajout d'un canal</a></li>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
    {{ form_start(form) }}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Détails</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    {{ form_label(form.channel) }}
                    {{ form_widget(form.channel, {attr: {class: "form-control"}}) }}
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    {{ form_label(form.passwordOauth) }}
                    {{ form_widget(form.passwordOauth, {attr: {class: "form-control"}}) }}
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <b>Site</b><br />
                    {{ channel.site.name }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    {{ form_label(form.clientId) }}
                    {{ form_widget(form.clientId, {attr: {class: "form-control"}}) }}
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    {{ form_label(form.secretId) }}
                    {{ form_widget(form.secretId, {attr: {class: "form-control"}}) }}
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="btn-group pull-right">
                <a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}" class="btn btn-default">Annuler</a>
                {{ form_widget(form.submit, {attr: {class: "btn btn-primary"}}) }}
            </div>
            {{ form_rest(form) }}
        </div>
    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}
