{% extends "IiMediasStreamBundle::_layout.html.twig" %}

{% block contentTitle %}{{ stream.type | capitalize }} {{ stream.name }}{% endblock contentTitle %}
{% block contentSubTitle %}Import {{ channel.site.name }} du {{ stream.type | capitalize }}{% endblock contentSubTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}">{{ stream.name }}</a></li>
    <li><a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id, channelId: channel.id}) }}">Import {{ channel.site.name }}</a></li>
{% endblock breadcrumb %}

{% block content %}
    <div id="log"></div>
    <table class="table table-striped" id="users-list" style="width: 100%;">
        <thead>
            <th>Utilisateur</th>
            <th>Points</th>
            <th>Temps</th>
            <th>Première vue</th>
            <th>Dernière vue</th>
        </thead>
        <tbody></tbody>
    </table>
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    <script src="http://{{ app.request.server.get('SERVER_NAME') }}:8080/socket.io/socket.io.js"></script>
    <script>
        var socketDeepbot = null;
        var usersMax      = 0;
        var usersOffset   = 0;
        var usersList     = [];

        function dumpLog(text)
        {
            console.log(text);
            $("#log").append(text + "<br />");
        }

        function scanUsers()
        {
            if (usersOffset > usersMax) {
                $.each(usersList, function(key, value){
                    $("table#users-list tbody").append("<tr><td><b>" + value.user + "</b></td><td>" + value.points + "</td><td>" + value.watch_time + "</td><td>" + value.join_date + "</td><td>" + value.last_seen + "</td></tr>");
                    console.log(value);
                });
                $("#users-list").dataTable();
                return true;
            }
            dumpLog("Récupération des utilisateurs à l'offset " + usersOffset);
            var sendCmd = "api|get_users|" + usersOffset + "|100";
            usersOffset = usersOffset + 100;
            socketDeepbot.send(sendCmd);
        }

        $(function(){
            dumpLog("Initialisation");
            socketDeepbot = new WebSocket('ws://localhost:3337/');
            socketDeepbot.onopen = function() {
                dumpLog("Connecté");
                socketDeepbot.send("api|register|{{ channel.secretId }}");
            };
            socketDeepbot.onmessage = function(e){
                var data = JSON.parse(e.data);
                if (data.function === "register" && data.msg === "success") {
                    dumpLog("Api Key envoyée");
                    dumpLog("Récupération du nombre d'utilisateurs enregistrés");
                    socketDeepbot.send("api|get_users_count");
                } else if (data.function === "get_users_count") {
                    usersMax = parseInt(data.msg);
                    dumpLog(usersMax + " utilisateurs enregistrés");
                    dumpLog("Début de la récupération des utilisateurs");
                    scanUsers();
                } else if (data.function === "get_users") {
                    $.each(data.msg, function(key, value){
                        usersList.push(value);
                    });
                    scanUsers();
                } else {
                    dumpLog(data);
                }
            };
        });
    </script>
{% endblock scripts %}