{% extends "IiMediasStreamBundle::_layout.html.twig" %}

{% block contentTitle %}Streams{% endblock contentTitle %}
{% block contentSubTitle %}Liste des Streams{% endblock contentSubTitle %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste des Streams</h3>
                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <a href="{{ path("iimedias_stream_stream_add") }}" class="btn btn-success btn-sm"><i class="fa fa-plus-circle" aria-hidden="true"></i><span class="hidden-xs"> Ajouter</span></a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Stream</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for stream in streams %}
                            <tr>
                                <td>{{ stream.id }}</td>
                                <td><a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}">{{ stream.name }}</a></td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i><span class="hidden-xs"> Voir</span></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste des Bots</h3>
                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <a href="{{ path("iimedias_stream_stream_add", {formType: "bot"}) }}" class="btn btn-success btn-sm"><i class="fa fa-plus-circle" aria-hidden="true"></i><span class="hidden-xs"> Ajouter</span></a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Bot</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for stream in bots %}
                            <tr>
                                <td>{{ stream.id }}</td>
                                <td><a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}">{{ stream.name }}</a></td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i><span class="hidden-xs"> Voir</span></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
