{% extends "IiMediasStreamBundle::_layout.html.twig" %}

{% block contentTitle %}{{ stream.type | capitalize }} {{ stream.name }}{% endblock contentTitle %}
{% block contentSubTitle %}{% if formMode == "edit" %}Edition du Rang #{{ rank.id }} "{{ rank.name }}"{% else %}Ajouter un rang{% endif %}{% endblock contentSubTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}">{{ stream.name }}</a></li>
    <li><a href="{{ path("iimedias_stream_stream_ranks", {streamId: stream.id}) }}">Rangs</a></li>
{% if formMode == "edit" %}
    <li><a href="{{ path("iimedias_stream_rank_edit", {streamId: stream.id, rankId: rank.id}) }}">Editer #{{ rank.id }} "{{ rank.name }}"</a></li>
{% else %}
    <li><a href="{{ path("iimedias_stream_rank_add", {streamId: stream.id}) }}">Ajouter</a></li>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
    {{ form_start(form, {attr: {role: "form"}}) }}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Rang</h3>
            </div>
            <div class="box-body">
                <div class="form_group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {attr: {class: "form-control"}}) }}
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form_group">
                            {{ form_widget(form.isDefault) }}
                            {{ form_label(form.isDefault) }}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form_group">
                            {{ form_widget(form.setIfFollowEvent) }}
                            {{ form_label(form.setIfFollowEvent) }}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form_group">
                            {{ form_widget(form.setIfModerator) }}
                            {{ form_label(form.setIfModerator) }}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form_group">
                            {{ form_widget(form.setIfStreamer) }}
                            {{ form_label(form.setIfStreamer) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="btn-group pull-right">
                    <a href="{{ path("iimedias_stream_stream_ranks", {streamId: stream.id}) }}" class="btn btn-default">Annuler</a>
                    {{ form_widget(form.submit, {attr: {class: "btn btn-primary"}}) }}
                </div>
                {{ form_rest(form) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock content %}
