{% extends "IiMediasStreamBundle::_layout.html.twig" %}

{% block contentTitle %}{{ stream.type | capitalize }} {{ stream.name }}{% endblock contentTitle %}
{% block contentSubTitle %}Liste des rangs{% endblock contentSubTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}">{{ stream.name }}</a></li>
    <li><a href="{{ path("iimedias_stream_stream_ranks", {streamId: stream.id}) }}">Rangs</a></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Rangs</h3>
            <div class="box-tools pull-right">
                <div class="btn-group">
                    <a href="{{ path("iimedias_stream_rank_add", {streamId: stream.id}) }}" class="btn btn-success btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i><span class="hidden-xs"> Ajouter</span></a>
                </div>
            </div>
        </div>
        <div class="box-body no-padding">
            <table id="ranks-datatable" class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Editer</th>
                </tr>
                </thead>
                <tbody>
                {% for rank in ranks %}
                    <tr>
                        <td>{{ rank.id }}</td>
                        <td>{{ rank.name }}</td>
                        <td><a href="{{ path("iimedias_stream_rank_edit", {streamId: stream.id, rankId: rank.id}) }}" class="btn btn-warning">Editer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    <script>
        $("#ranks-datatable").dataTable();
    </script>
{% endblock scripts %}
