{% extends "IiMediasStreamBundle::_layout.html.twig" %}

{% block contentTitle %}{{ formType | capitalize }}{% if formMode == "edit" %} {{ stream.name }}{% endif %}{% endblock contentTitle %}
{% block contentSubTitle %}{% if formMode == "edit" %}Edition du {{ formType | capitalize }} #{{ stream.id }}{% else %}Ajouter un {{ formType | capitalize }}{% endif %}{% endblock contentSubTitle %}

{% block breadcrumb %}
    {{ parent() }}
{% if formMode == "edit" %}
    <li><a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}">{{ stream.name }}</a></li>
    <li><a href="{{ path("iimedias_stream_stream_edit", {streamId: stream.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i><span class="hidden-xs"> Editer</span></a></li>
{% else %}
    <li><a href="{{ path("iimedias_stream_stream_add") }}">Ajout</a></li>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
    {{ form_start(form, {attr: {role: "form"}}) }}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ formType | capitalize }}</h3>
            </div>
            <div class="box-body">
                <div class="form_group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {attr: {class: "form-control"}}) }}
                </div>
            </div>
            <div class="box-footer">
                <div class="btn-group pull-right">
                    <a href="{% if formMode == "edit" %}{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}{% else %}{{ path("iimedias_stream_stream_index") }}{% endif %}" class="btn btn-default">Annuler</a>
                    {{ form_widget(form.submit, {attr: {class: "btn btn-primary"}}) }}
                </div>
                {{ form_rest(form) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock content %}
