{% extends "IiMediasStreamBundle::_layout.html.twig" %}

{% block contentTitle %}{{ stream.type | capitalize }} {{ stream.name }}{% endblock contentTitle %}
{% block contentSubTitle %}Liste des spectateurs{% endblock contentSubTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}">{{ stream.name }}</a></li>
    <li><a href="{{ path("iimedias_stream_stream_viewers", {streamId: stream.id}) }}">Spectateurs</a></li>
{% endblock breadcrumb %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Utilisateurs / Spectateurs</h3>
        </div>
        <div class="box-body no-padding">
            <table id="viewers-datatable" class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Site</th>
                    <th>Abo.</th>
                    <th>Rang</th>
                    <th>Avatar</th>
                    <th>Messages</th>
                    <th>Abo.</th>
                    <th>Vues</th>
                    <th>Hôtes</th>
                    <th>Ed.</th>
                </tr>
                </thead>
                <tbody>
                {% for viewer in viewers %}
                    <tr>
                        <td>{{ viewer.id }}</td>
                        <td>
                            {% if viewer.chatUser.displayName is not null and viewer.chatUser.displayName != "" %}<b>{{ viewer.chatUser.displayName }}</b>
                            {% else %}{{ viewer.chatUser.username }}{% endif %}
                        </td>
                        <td>
                            {% if viewer.site.fontAwesomeIcon is not null and viewer.site.fontAwesomeIcon != "" %}<span class="hide">{{ viewer.site.name }}</span><i class="fa {{ viewer.site.fontAwesomeIcon }}" style="color: {{ viewer.site.colorHexa }};" aria-hidden="true"></i>
                            {% else %}{{ viewer.site.name }}{% endif %}
                        </td>
                        <td>
                            {% if viewer.isFollowing %}<span class="hide">Oui</span><i class="fa fa-check-circle text-green" aria-hidden="true"></i>
                            {% else %}<span class="hide">Non</span><i class="fa fa-times-circle text-red" aria-hidden="true"></i>{% endif %}
                        </td>
                        <td>
                            {% if viewer.rank %}{{ viewer.rank.name }}
                            {% else %}/{% endif %}
                        </td>
                        <td>
                            {% if viewer.avatar %}<div class="avatar-thumb avatar-color-{{ viewer.avatar.mainColor }}" style="background-image: url('{{ asset("/uploads/stream/avatars/" ~ viewer.avatar.id ~ ".png") }}');"></div> {{ viewer.avatar.name }}
                            {% else %}Pas d'avatar{% endif %}
                        </td>
                        <td>{{ viewer.messagesCount }}</td>
                        <td>{{ viewer.followsCount }}</td>
                        <td>{{ viewer.chattersCount }}</td>
                        <td>{{ viewer.hostsCount }}</td>
                        <td><a href="{{ path("iimedias_stream_viewer_edit", {streamId: stream.id, userExperienceId: viewer.id}) }}" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
                
    <style>
        .avatar-thumb {
            display: block;
            width: 40px;
            height: 40px;
            background-size: auto 400%;
            background-repeat: no-repeat;
            background-position-x: center;
            border-radius: 20px;
        }
        .avatar-color-red {
            background-color: rgba(255,0,0,0.6);
        }
        .avatar-color-blue {
            background-color: rgba(0,0,205,0.6);
        }
        .avatar-color-yellow {
            background-color: rgba(205,205,0,0.6);
        }
        .avatar-color-green {
            background-color: rgba(50,205,50,0.6);
        }
        .avatar-color-pink {
            background-color: rgba(238,130,238,0.6);
        }
        .avatar-color-black {
            background-color: rgba(0,0,0,0.6);
        }
        .avatar-color-white {
            background-color: rgba(255,255,255,0.6);
        }
        .avatar-color-gold {
            background-color: rgba(255,215,0,0.6);
        }
        .avatar-color-silver {
            background-color: rgba(193,205,205,0.6);
        }
        .avatar-color-orange {
            background-color: rgba(255,127,0,0.6);
        }
        .avatar-color-navy {
            background-color: rgba(0,0,128,0.6);
        }
        .avatar-color-fire {
            background-color: rgba(205,38,38,0.6);
        }
        .avatar-color-violet {
            background-color: rgba(145,44,238,0.6);
        }
        .avatar-color-cyan {
            background-color: rgba(0,255,255,0.6);
        }
        .avatar-color-grey {
            background-color: rgba(128,128,128,0.6);
        }
    </style>
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    <script>
        $("#viewers-datatable").dataTable();
    </script>
{% endblock scripts %}
