{
    "users": {
{% for viewer in viewers %}
        "{{ viewer.chatUser.username }}": {
            "id": {{ viewer.id }},
            "username": "{{ viewer.chatUser.username }}",
            "displayName": "{% if viewer.chatUser.displayName is not null and viewer.chatUser.displayName != "" %}{{ viewer.chatUser.displayName }}{% else %}{{ viewer.chatUser.username }}{% endif %}",
            "siteName": "{{ viewer.site.name }}",
            "siteFaIcon": {% if viewer.site.fontAwesomeIcon is not null and viewer.site.fontAwesomeIcon != "" %}"fa {{ viewer.site.fontAwesomeIcon }}"{% else %}null{% endif %},
            "isFollowing": {% if viewer.isFollowing %}true{% else %}false{% endif %},
            "rankId": {% if viewer.rank %}{{ viewer.rank.id }}{% else %}null{% endif %},
            "rankName": {% if viewer.rank %}"{{ viewer.rank.name }}"{% else %}null{% endif %},
            "avatarId": {% if viewer.avatar %}{{ viewer.avatar.id }}{% else %}null{% endif %},
            "avatarColor": {% if viewer.avatar %}"{{ viewer.avatar.mainColor }}"{% else %}null{% endif %},
            "avatarUrl": {% if viewer.avatar %}"http://beta.sebii.fr/uploads/stream/avatars/{{ viewer.avatar.id }}.png"{% else %}null{% endif %},
            "messagesCount": {{ viewer.messagesCount }},
            "followsCount": {{ viewer.followsCount }},
            "chattersCount": {{ viewer.chattersCount }},
            "hostsCount": {{ viewer.hostsCount }}
        }{% if not loop.last %},{% endif %}
{% endfor %}
    }
}