String.prototype.ucfirst = function()
{
    return this.charAt(0).toUpperCase() + this.substr(1);
}

function addChatUser(item)
{
    /* Remplissage du Template */
    var content = tplChatUser(item);

    /* Est-ce qu'il y a déjà des Users dans la liste */
    if ($("#boxChatUsers ul li").length == 0) {
        $("#boxChatUsers ul").append(content);
        return true;
    }

    /* Récupération des username */
    var newUsername  = item.username;
    var lastUsername = $("#boxChatUsers ul li").last().data("username");

    /* Est-ce qu'il existe ? */
    if ($('#boxChatUsers ul li[data-username="' + newUsername + '"]').length > 0) {
        $('#boxChatUsers ul li[data-username="' + newUsername + '"]').data('lastat', item.lastActionAt.timestamp);
        return true;
    }

    /* Est-ce que le username serait le dernier de la liste ? */
    if (lastUsername < newUsername) {
        $("#boxChatUsers ul").append(content);
        return true;
    }

    /* Est-ce qu'il se place avant quelqu'un ? */
    $("#boxChatUsers ul li").each(function(iLi, itemLi){
        var currentUsername = $(this).data("username");
        if (newUsername < currentUsername) {
            $(content).insertBefore($(this));
            return false;
        }
    });

    return false;
}

function refreshChatUsersStatus()
{
    var limitAway   = (Date.now() / 1000) - 3600;
    var limitOnline = (Date.now() / 1000) - 60;

    $("#boxChatUsers ul li").each(function(i, item){
        var lastAt = parseInt($(this).data("lastat"));
        if (($(this).hasClass("offline") || $(this).hasClass("away")) && lastAt >= limitOnline) {
            $(this).attr("class", "online");
        } else if (($(this).hasClass("online") || $(this).hasClass("offline")) && lastAt >= limitAway && lastAt < limitOnline) {
            $(this).attr("class", "away");
        } else if (($(this).hasClass("online") || $(this).hasClass("away")) && lastAt < limitAway) {
            $(this).attr("class", "offline");
        }
    });
}

$(function(){
    var tplChatUser        = Handlebars.compile($("#tpl-chat-user").html());
    var tplTimelineMessage = Handlebars.compile($("#tpl-timeline-message").html());
    var tplTimelineFollow  = Handlebars.compile($("#tpl-timeline-follow").html());

    var socketIo = io.connect("http://{{ app.request.server.get('SERVER_NAME') }}:8080/", {
        streamId: {{ stream.id }},
    });
    socketIo.on("connect", function(){
        socketIo.emit("sioData", {
            streamId: {{ stream.id }},
            sendChatters: false,
        });
        socketIo.emit("sioGetStreamConnectedUsers");
    });
    socketIo.on("streamRefreshMainInfos", function(data) {
        if (data._status == "ok") {
            /* Gestion de la box Vues */
            if ($("#box-views .info-box-number").html() !== "---" && $("#box-views .info-box-number").html() != data.viewsCount) {
                $("#box-views").removeClass("bg-aqua").addClass("bg-green");
            }
            $("#box-views .info-box-number").html(data.viewsCount);

            /* Gestion de la box Spectateurs */
            if ($("#box-viewers .info-box-number").html() !== "---") {
                if ($("#box-viewers .info-box-number").html() < data.viewersCount) {
                    $("#box-viewers").removeClass("bg-aqua").addClass("bg-green");
                } else if ($("#box-viewers .info-box-number").html() > data.viewersCount) {
                    $("#box-viewers").removeClass("bg-aqua").addClass("bg-red");
                }
            }
            $("#box-viewers .info-box-number").html(data.viewersCount);

            /* Gestion de la box Chatters */
            if ($("#box-chatters .info-box-number").html() !== "---") {
                if ($("#box-chatters .info-box-number").html() < data.chattersCount) {
                    $("#box-chatters").removeClass("bg-aqua").addClass("bg-green");
                } else if ($("#box-chatters .info-box-number").html() > data.chattersCount) {
                    $("#box-chatters").removeClass("bg-aqua").addClass("bg-red");
                }
            }
            $("#box-chatters .info-box-number").html(data.chattersCount);

            /* Gestion de la box Abonnements */
            if ($("#box-follows .info-box-number").html() !== "---") {
                if ($("#box-follows .info-box-number").html() < data.followersCount) {
                    $("#box-follows").removeClass("bg-aqua").addClass("bg-green");
                } else if ($("#box-follows .info-box-number").html() > data.followersCount) {
                    $("#box-follows").removeClass("bg-aqua").addClass("bg-red");
                }
            }
            $("#box-follows .info-box-number").html(data.followersCount);

            /* Gestion de la box Messages */
            if ($("#box-messages .info-box-number").html() !== "---" && $("#box-messages .info-box-number").html() !== "---" && $("#box-messages .info-box-number").html() != data.messagesCount) {
                $("#box-messages").removeClass("bg-aqua").addClass("bg-green");
            }
            $("#box-messages .info-box-number").html(data.messagesCount);

            /* Gestion de la box Hébergements */
            if ($("#box-hosts .info-box-number").html() !== "---") {
                if ($("#box-hosts .info-box-number").html() < data.hostsCount) {
                    $("#box-hosts").removeClass("bg-aqua").addClass("bg-green");
                } else if ($("#box-hosts .info-box-number").html() > data.hostsCount) {
                    $("#box-hosts").removeClass("bg-aqua").addClass("bg-red");
                }
            }
            $("#box-hosts .info-box-number").html(data.hostsCount);

            setTimeout(function(){
                $(".info-box.bg-green").addClass("bg-aqua").removeClass("bg-green");
                $(".info-box.bg-red").addClass("bg-aqua").removeClass("bg-red");
            }, 2500);
        }
    });
    socketIo.on("streamChatMessage", function(data){
        var time       = new Date(data.message.timestamp * 1000);
        var timeFormat = ((time.getHours() < 10) ? "0" : "") + time.getHours() + ":" +
                         ((time.getMinutes() < 10) ? "0" : "") + time.getMinutes() + ":" +
                         ((time.getSeconds() < 10) ? "0" : "") + time.getSeconds();
        var tplOptions = {
            id:          data.message.id,
            displayName: ((data.chatUser.displayName !== null) ? data.chatUser.displayName : data.chatUser.username),
            type:        data.message.type.ucfirst(),
            room:        data.channel.name,
            site:        data.site.name,
            avatarUrl:   data.chatUser.avatarUrl,
            message:     data.message.message,
            time:        timeFormat,
        };
        $("#stream-timeline").prepend(tplTimelineMessage(tplOptions));
    });
    socketIo.on("streamNewFollows", function(data){
        $.each(data.follows, function(key, value) {
            var tplOptions = {
                displayName: value,
            };
            $("#stream-timeline").prepend(tplTimelineFollow(tplOptions));
        });
    });


    /* Templates */

    /* Affichage de la liste des utilisateurs */
    {#$.ajax({#}
        {#url: "{{ path("iimedias_stream_stream_jsonchatusers", {streamId: stream.id}) }}",#}
        {#method: "get",#}
    {#})#}
        {#.done(function(jsonChatUsers){#}
            {#$.each(jsonChatUsers.chatUsers, function(i, item){#}
                {#addChatUser(jsonChatUsers.chatUsers[i]);#}
            {#});#}
            {#$("#boxChatUsers .overlay").remove();#}
        {#})#}
    {#;#}
    //refreshMainInfos();

    //setInterval(function(){ refreshChatUsersStatus(); }, 500);
});
