{% extends "IiMediasStreamBundle::_layout.html.twig" %}

{% block contentTitle %}{{ stream.type | capitalize }} {{ stream.name }}{% endblock contentTitle %}
{% block contentSubTitle %}Détails du {{ stream.type | capitalize }}{% endblock contentSubTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}">{{ stream.name }}</a></li>
{% endblock breadcrumb %}

{% block styles %}
    {{ parent() }}
    <link href="{{ asset("/bundles/iimediasstream/css/view.css") }}" rel="stylesheet" />
    <style>
    {% for site in sites %}
        .btn-dropdown-border-{{ site.code }} {
            background-image: linear-gradient(to left, rgba({{ site.colorRgb }}, 0) 0%, rgba({{ site.colorRgb }}, 0) 95%, rgba({{ site.colorRgb }}, 1) 95%, rgba({{ site.colorRgb }}, 1) 100%);
        }
        .btn-dropdown-border-{{ site.code }}:hover {
            background-image: linear-gradient(to left, rgba({{ site.colorRgb }}, 0.3) 0%, rgba({{ site.colorRgb }}, 0.3) 95%, rgba({{ site.colorRgb }}, 1) 95%, rgba({{ site.colorRgb }}, 1) 100%);
        }
    {% endfor %}
    </style>
{% endblock styles %}

{% block content %}
{% set viewsCount = 0 %}
{% set followersCount = 0 %}
{% for channel in stream.channels %}
    {% set viewsCount = viewsCount + channel.viewsCount %}
    {% set followersCount = followersCount + channel.followersCount %}
{% endfor %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div id="box-views" class="info-box bg-aqua">
                        <span class="info-box-icon">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Vues</span>
                            <span class="info-box-number">---</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div id="box-viewers" class="info-box bg-aqua">
                        <span class="info-box-icon">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Spectateurs</span>
                            <span class="info-box-number">---</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div id="box-chatters" class="info-box bg-aqua">
                        <span class="info-box-icon">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Chatters</span>
                            <span class="info-box-number">---</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div id="box-messages" class="info-box bg-aqua">
                        <span class="info-box-icon">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Messages</span>
                            <span class="info-box-number">---</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div id="box-hosts" class="info-box bg-aqua">
                        <span class="info-box-icon">
                            <i class="fa fa-television" aria-hidden="true"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Hébergeurs</span>
                            <span class="info-box-number">---</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div id="box-follows" class="info-box bg-aqua">
                        <span class="info-box-icon">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Abonnements</span>
                            <span class="info-box-number">---</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div id="box-subscribes" class="info-box bg-aqua">
                    <span class="info-box-icon">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Souscriptions</span>
                            <span class="info-box-number">---</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div id="box-donations" class="info-box bg-aqua">
                        <span class="info-box-icon">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Dons (en €)</span>
                            <span class="info-box-number">---</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div id="box-bits" class="info-box bg-aqua">
                    <span class="info-box-icon">
                        <i class="fa fa-diamond" aria-hidden="true"></i>
                    </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Bits</span>
                            <span class="info-box-number">---</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Actions rapides</h3>
                </div>
                <div class="box-body">
                    <a href="{{ path("iimedias_stream_stream_viewers", {streamId: stream.id}) }}" class="btn btn-default"><i class="fa fa-users" aria-hidden="true"></i> Spectateurs</a>
                    <a href="{{ path("iimedias_stream_stream_ranks", {streamId: stream.id}) }}" class="btn btn-default"><i class="fa fa-shield" aria-hidden="true"></i> Rangs</a>
                    <a href="{{ path("iimedias_stream_stream_avatars", {streamId: stream.id}) }}" class="btn btn-default"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Avatars</a>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">TimeLine</h3>
                </div>
                <div class="box-body">
                    <ul class="timeline" id="stream-timeline"></ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Détails</h3>
                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <a href="{{ path("iimedias_stream_stream_edit", {streamId: stream.id, formType: stream.type}) }}" class="btn btn-warning btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i><span class="hidden-xs"> Editer</span></a>
                            <a href="#" class="btn btn-danger btn-sm disabled"><i class="fa fa-minus-circle" aria-hidden="true"></i><span class="hidden-xs"> Supprimer</span></a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4"><b>Nom</b></div>
                        <div class="col-xs-7 col-sm-8 col-md-8 col-lg-8">{{ stream.name }}</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Canaux</h3>
                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <div class="btn-group">
                                <a href="#" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;<span class="hidden-xs">&nbsp;Ajouter&nbsp;</span>&nbsp;<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
    {% for site in sites %}
                                    <li><a href="{{ path("iimedias_stream_stream_channeladd", {streamId: stream.id, siteName: site.code}) }}" class="btn-dropdown-border-{{ site.code }}">{{ site.name }}</a></li>
    {% endfor %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path("iimedias_stream_stream_channeladd", {streamId: stream.id, siteName: "instantgaming"}) }}" class="btn-dropdown-border-instant-gaming">Instant Gaming</a></li>
                                    <li><a href="{{ path("iimedias_stream_stream_channeladd", {streamId: stream.id, siteName: "restreamio"}) }}" class="btn-dropdown-border-restream-io">Restream.io</a></li>
                                    <li><a href="{{ path("iimedias_stream_stream_channeladd", {streamId: stream.id, siteName: "twitchalerts"}) }}" class="btn-dropdown-border-twitch-alerts">TwitchAlerts</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Site</th>
                                <th>Canal</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
{% for channel in stream.channels %}
                            <tr>
                                <td>{{ channel.id }}</td>
                                <td>{{ channel.site.name }}</td>
                                <td>{{ channel.channel }}</td>
                                <td>
                                    <div class="btn-group">
    {% if channel.site.code == "discord" and discordBot is defined and discordBot is not null %}
                                        <a href="https://discordapp.com/oauth2/authorize?client_id={{ discordBot.clientId }}&scope=bot&permissions=2146958591" class="btn btn-info" target="_blank">Autoriser</a>
    {% endif %}
    {% if channel.site.code == "deepbot" %}
                                        <a href="{{ path("iimedias_stream_stream_import", {streamId: stream.id, channelId: channel.id}) }}" class="btn btn-info">Importer</a>
    {% endif %}
                                        <a href="{{ path("iimedias_stream_stream_channeledit", {streamId: stream.id, channelId: channel.id}) }}" class="btn btn-warning">Editer</a>
                                    </div>
                                </td>
                            </tr>
{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Live
                        <span data-toggle="tooltip" title="" class="badge bg-red" data-original-title=""></span>
                    </h3>
                </div>
                <div class="box-body">
                    {% for channel in stream.channels %}
                    {% if channel.site.code == "twitch" %}
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://player.twitch.tv/?channel={{ channel.channel }}" frameborder="0" scrolling="no" height="378" width="620"></iframe>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="boxChatUsers" class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Utilisateurs
                        <span data-toggle="tooltip" title="" class="badge bg-red" data-original-title=""></span>
                    </h3>
                </div>
                <div class="box-body">
                    <ul class="users-list clearfix"></ul>
                </div>
                <div class="overlay">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

        </div>
    </div>

    <script id="tpl-chat-user" type="text/x-handlebars-template">
        <li class="offline" data-id="{{ "{{{ id }}}" }}" data-username="{{ "{{{ username }}}" }}" data-lastat="{{ "{{{ lastActionAt.timestamp }}}" }}">
            <img src="{{ asset("bower/AdminLTE/dist/img/avatar5.png") }}" alt="{{ "{{{ username }}}" }}" />
            <a href="#{{ "{{{ username }}}" }}" class="users-list-name">{{ "{{{ username }}}" }}</a>
            <span class="users-list-date">{{ "{{{ lastActionAt.format1 }}}" }}</span>
        </li>
    </script>

    <script id="tpl-timeline-message" type="text/x-handlebars-template">
        <li class="timeline-message">
            <i class="fa fa-commenting bg-blue"></i>
            <div class="timeline-item" data-type="message" data-message-id="{{ "{{{ id }}}" }}">
                <span class="time"><i class="fa fa-clock-o"></i> {{ "{{{ time }}}" }}</span>
                <h3 class="timeline-header"><img src="{{ "{{{ avatarUrl }}}" }}" style="width: 35px; height: 35px; float: left; margin-right: 10px;" />{{ "{{{ type }}}" }} de <b>{{ "{{{ displayName }}}" }}</b><br /><i>{{ "{{{ site }}}" }} #{{ "{{{ room }}}" }}</i></h3>
                <div class="timeline-body">{{ "{{{ message }}}" }}</div>
                <div class="timeline-footer">
                    <a class="btn btn-primary btn-xs disabled" href="#">Read more</a>
                    <a class="btn btn-danger btn-xs disabled" href="#">Delete</a>
                </div>
            </div>
        </li>
    </script>

    <script id="tpl-timeline-follow" type="text/x-handlebars-template">
        <li class="timeline-follow">
            <i class="fa fa-heart bg-maroon"></i>
            <div class="timeline-item" data-type="message" data-message-id="{{ "{{{ id }}}" }}">
                {#<span class="time"><i class="fa fa-clock-o"></i> {{ "{{{ time }}}" }}</span>#}
                <h3 class="timeline-header no-border"><b>{{ "{{{ displayName }}}" }}</b> vient de s'abonner</h3>
            </div>
        </li>
    </script>
{% endblock content %}

{% block scripts %}
    {{ parent() }}
    <script src="http://{{ app.request.server.get('SERVER_NAME') }}:8080/socket.io/socket.io.js"></script>
    <script src="{{ path("iimedias_stream_stream_viewjs", {streamId: stream.id}) }}"></script>
{% endblock scripts %}
