{% extends "IiMediasStreamBundle::_layout.html.twig" %}

{% block contentTitle %}{{ stream.type | capitalize }} {{ stream.name }}{% endblock contentTitle %}
{% block contentSubTitle %}{% if formMode == "edit" %}Edition du spectateur #{{ userExperience.id }} "{{ userExperience.chatUser.username }}"{% else %}Ajouter un spectateur{% endif %}{% endblock contentSubTitle %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path("iimedias_stream_stream_view", {streamId: stream.id}) }}">{{ stream.name }}</a></li>
    <li><a href="{{ path("iimedias_stream_stream_viewers", {streamId: stream.id}) }}">Spectateurs</a></li>
{% if formMode == "edit" %}
    <li><a href="{{ path("iimedias_stream_viewer_edit", {streamId: stream.id, userExperienceId: userExperience.id}) }}">Editer #{{ userExperience.id }} "{{ userExperience.chatUser.username }}"</a></li>
{% else %}
    <li><a href="{{ path("iimedias_stream_viewer_add", {streamId: stream.id}) }}">Ajouter</a></li>
{% endif %}
{% endblock breadcrumb %}

{% block content %}
    {{ form_start(form, {attr: {role: "form"}}) }}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Rang</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form_group">
                            {{ form_label(form.rankId) }}
                            {{ form_widget(form.rankId, {attr: {class: "form-control"}}) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form_group">
                            {{ form_label(form.avatarId) }}
                            {{ form_widget(form.avatarId, {attr: {class: "form-control"}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="btn-group pull-right">
                    <a href="{{ path("iimedias_stream_stream_viewers", {streamId: stream.id}) }}" class="btn btn-default">Annuler</a>
                    {{ form_widget(form.submit, {attr: {class: "btn btn-primary"}}) }}
                </div>
                {{ form_rest(form) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock content %}
